@import url("https://fonts.googleapis.com/css2?family=Geologica&family=Poppins:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer utilities {
  .gradient {
    @apply bg-gradient-to-b from-[#086972] via-[#17B978] to-[#83FFBC] opacity-[35%];
  }
}
